extends layout

block content
	div.page-header 
		h2 
			i.fa.fa-weixin
			span  Messages
	div.row
		div.col-md-4
			table.table
				+chatTableRow('http://k3.okccdn.com/php/load_okc_image.php/images/60x60/60x60/0x0/0x0/2/8195838067050674575.webp?v=2', 'Tesla', 'Good! What are you up to tonight?')
				+chatTableRow('http://k2.okccdn.com/php/load_okc_image.php/images/60x60/60x60/0x0/640x640/2/13396249506501603413.webp?v=2', 'Megan', 'Whats up')
				+chatTableRow('http://k1.okccdn.com/php/load_okc_image.php/images/60x60/60x60/0x0/1500x1500/2/778512598807690730.webp?v=2', 'Anna', 'Want to get a drink?')
				+chatTableRow('http://k2.okccdn.com/php/load_okc_image.php/images/60x60/60x60/52x0/566x513/2/1477023604442881454.webp?v=2', 'Jina', 'Chillin')
		div.col-md-8
			table.table.table-striped
				+messageTableRow('http://k3.okccdn.com/php/load_okc_image.php/images/120x120/120x120/0x0/0x0/2/8195838067050674575.webp?v=2', 'Hello')
				+messageTableRow('http://k2.okccdn.com/php/load_okc_image.php/images/60x60/60x60/0x0/960x960/2/5704777011920203695.webp?v=2', 'Hey! Hows it going?')
				+messageTableRow('http://k3.okccdn.com/php/load_okc_image.php/images/120x120/120x120/0x0/0x0/2/8195838067050674575.webp?v=2', 'Good!  What are you up to tonight?')
				+messageTableRow('http://k2.okccdn.com/php/load_okc_image.php/images/60x60/60x60/0x0/960x960/2/5704777011920203695.webp?v=2', 'Not too much.  Just hanging out.')
												
mixin chatTableRow(pic, name, message)
	tr
		td
			div.row
				div.col-md-3
					img(src=pic)
				div.col-md-9
					div
						strong=name
					div=message
					
mixin messageTableRow(pic, message)
	tr
		td
			div.row
				div.col-md-2
					img(src=pic, style='width:50px;height:50px;border-radius:10px')
				div.col-md-10
					div.row.pull-left
						div.col-md-12
							div=message
					div.row.pull-right
						div.col-md-12
							div
								span Sent on Monday
				